@keyframes typing {

  12% {
    transform: translate(0px, -6px);
  }

  28% {
    transform: translate(0px, 2px);
  }

  32% {
    transform: translate(0px, 0px)
  }

  to {
    transform: translate(0px, 0px);
  }

}

.header-text {
    font-size: 4em;
    margin-top: 0.1em;
    &:first-letter {
      font-size: 1.3em;
      color: $accent;
    }
  }

  .dot {
    display: inline-block;
    margin: 0 1px;

    animation: typing 1s infinite linear;
    &:nth-of-type(2) {
      animation-delay: 0.1s
    }

    &:nth-of-type(3) {
      animation-delay: 0.2s
    }
  }
  
  .editor {
    padding: 0px 0px 24px;
    display: grid;
    grid-template-columns: 1fr [editor-start] minmax(0px, 5fr) 352px [editor-end] 100px 1fr;
    grid-template-rows: 1fr 80px [editor-start] 360px [editor-end] 40px 1fr;
    column-gap: 32px;
    row-gap: 24px;
    min-height: 100vh;
    min-height: calc(100vh - 37px);

    &__ellipsisA {

      display: inline-block;

      animation-duration: 1s;
      animation-name: firstdot;
      animation-iteration-count: infinite;

    }

    &__ellipsisB {

      display: inline-block;

      animation-duration: 1s;
      animation-name: seconddot;
      animation-iteration-count: infinite;
    }

    &__ellipsisC {

      display: inline-block;

      animation-duration: 1s;
      animation-name: thirddot;
      animation-iteration-count: infinite;
    }
  
    &__main-header {
      grid-column: 2 / span 3;
      grid-row: 2 / span 1;
    }
  
    &__textarea {
      grid-area: editor;
      resize: none;
      padding: 8px;
      border-radius: 4px;
      &--bold {
        font-weight: bold;
      }
      &--italic {
        font-style: italic;
      }
      &--blue {
        color: blue;
      }
      &--green {
        color: green;
      }
      &--red {
        color: red;
      }
    }
  
    &__options {
      grid-column: editor-start / span 1;
      grid-row: editor-end / span 1;
      width: 360px;
      display: flex;
      justify-content: space-between;
  
      color: $light;

    }

    &__save-tracker {
      grid-column: editor-end / span 1;
      grid-row: editor-end / span 1;
    }
  
    &__side-buttons {
      grid-column: editor-end / span 1;
      grid-row: editor;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }
  
    &__bottom-buttons {
      grid-column: 3 / editor-end;
      grid-row: editor-end / span 1;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }
  
    &__button {
      border: outset 4px;
          border-radius: 4px;
      height: 40px;
      width: 100%;
      font-weight: inherit;
      cursor: pointer;
  
      &:active {
        background: $dark;
        color: $light;
        border: inset 4px $dark;
      }
      &:active:before {
        box-sizing: border-box;
        border: 1px solid $light;
      }
  
      &--load {
        width: 160px;
      }
      &--save {
        width: 160px;
        background: midnightblue;
        color: $light;
        border-color: midnightblue;
        &:active {
          background: #0a0a30;
          color: $light;
          border: inset 4px #0a0a30;
        }
      }
  
      &--bold {
        font-weight: bold;
      }
  
      &--italic {
        font-style: italic;
      }
  
      &--blue {
        text-align: left;
        &::before {
          content: "";
          height: 0.75em;
          width: 0.75em;
          background: blue;
          display: inline-block;
          border-radius: 50%;
          margin: 0px 6px;
        }
      }
  
      &--green {
        text-align: left;
        &::before {
          content: "";
          height: 0.75em;
          width: 0.75em;
          background: green;
          display: inline-block;
          border-radius: 50%;
          margin: 0px 6px;
        }
      }
  
      &--red {
        text-align: left;
        &::before {
          content: "";
          height: 0.75em;
          width: 0.75em;
          background: red;
          display: inline-block;
          border-radius: 50%;
          margin: 0px 6px;
        }
      }
  
      &--default {
        background: gray;
        border-color: gray;
        color: $light;
      }

      &-mobile-text {
        display: none;
      }
    }
  
    .isOn {
      background: $dark;
      color: $light;
      border: inset 4px $dark;
      &::before {
        box-sizing: border-box;
        border: 1px solid $light;
      }
    }
  }
  
  .instructions {
    width: 38em;
    background: $secondary-background;
    opacity: 0.95;
    position: fixed;
  
    z-index: 5;
  
    transition: right ease-in-out 0.5s;
  
    &__content {
      height: 100vh;
      opacity: 1;
      margin-top: -2.5em;
      margin-left: 3em;
      padding-right: 1em;
      overflow: auto;
      text-align: justify;
  
      & h4 {
        margin: 0em;
      }
    }

    &--hidden {
      right: -36em;
    }

    &--shown {
      right: 0em;
    }
  
    &__toggle {
      display: inline-block;
      box-sizing: border-box;
      background: $accent;
      width: 100vh;
      transform-origin: top left;
      transform: rotate(-90deg);
      position: relative;
      bottom: -100vh;
      font-size: 1em;
      font-weight: bold;
      text-align: right;
      padding: 0.5em;
      margin: 0px;
      cursor: pointer;
  
      &:before {
        content: "";
        position: relative;
        bottom: var(--arrow-position);
        width: 0;
        height: 0;
        border-left: 0.5em solid transparent;
        border-right: 0.5em solid transparent;
        border-bottom: var(--arrow-border-bottom);
        border-top: var(--arrow-border-top);
        margin-right: 0.5em;
      }

      &--desktop {
        display: inline;
      }

      &--mobile {
        display: none;
      }

    }
  }
  
  .footer {
    width: 100%;
    font-size: 12px;
    display: inline-block;
    background: $secondary-background;
    position: absolute;
    bottom: 0px;
    padding: 0.5em 0em;
    display: flex;
    justify-content: flex-end;
    border-top: ridge 3px #3c5013;
    z-index: 10;
  
    &__element {
      padding: 0em 0.5em;
    }
  }
  
  p {
    line-height: 1.3em;
  }