@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: #002105;
  color: #fff6d6;
  min-height: 100vh;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.header-text {
  font-size: 4em;
  margin-top: 0.1em;
}

.editor {

  display: grid;
  // grid-template-columns: [left-margin] 1fr [title] 352px [load-button] 160px [save-button] 160px [style-buttons] 160px [right-margin] 1fr;
  // grid-template-rows: [top-margin] 1fr [title] 96px [editor] 360px [buttons] 40px [bottom-margin] 1fr;
  // grid-template-columns: 1fr repeat(9, 64px) 1fr;
  // grid-template-rows: 1fr repeat(9, 40px) 1fr;
  grid-template-columns: 1fr [editor-start] 352px minmax(0px, 3fr) 352px [editor-end] 100px 1fr;
  grid-template-rows: 1fr 80px [editor-start] 360px [editor-end] 40px 1fr;
  column-gap: 32px;
  row-gap: 24px;
  min-height: 100vh;
  min-height: calc(100vh - 36px);

  &__main-header {
    // grid-area: title / title;
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;

  }

  &__textarea {
    //   grid-area: editor / title / editor / save-button;
    // grid-area: 4 / 2 / 10 / 10;
    grid-area: editor;
    resize: none;
    &--bold {
      font-weight: bold;
    }
    &--cursive {
      font-style: italic;
    }
    &--blue {
      color: blue;
    }
    &--green {
      color: green;
    }
    &--red {
      color: red;
    }
    // &--default {
    //   
    // }
  }

&__side-buttons {
  grid-column: editor-end / span 1;
  grid-row: editor;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

&__bottom-buttons {
  grid-column: 4 / editor-end;
  grid-row: editor-end / span 1;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

&__button {
  border: outset 4px;
  height: 40px;
  width: 100%;
  font-weight: inherit;

  &--load {
    width: 160px;

  }
  &--save {
    width: 160px;
    background: midnightblue;
    color: beige;
    border-color: midnightblue;
  }

  &--bold {
    font-weight: bold;
  }

  &--cursive {
    font-style: italic;
  }

  &--blue {
    text-align: left;
    &::before {
      content: '';
      height: 0.75em;
      width: 0.75em;
      background: blue;
      display: inline-block;
      border-radius: 50%;
      margin: 0px 6px;

    }
  }

  &--green {
    text-align: left;
    &::before {
      content: '';
      height: 0.75em;
      width: 0.75em;
      background: green;
      display: inline-block;
      border-radius: 50%;
      margin: 0px 6px;
    }
  }

  &--red {
    text-align: left;
    &::before {
      content: '';
      height: 0.75em;
      width: 0.75em;
      background: red;
      display: inline-block;
      border-radius: 50%;
      margin: 0px 6px;
    }
  }

  &--default {
    background: gray;
    border-color: gray;
    color: beige;
  }

}

.isOn {
  background: #222020;
  color: beige;
  border: inset 4px #222020;
&::before {
  box-sizing: border-box;
  border: 1px solid beige;
}
}

  // &__button {
  //   &--bold {
  //     grid-area: 4 / 10;
  //   }
  //   &--cursive {
  //     grid-area: 5 / 10;
  //   }
  //   &--black {
  //     grid-area: 6 / 10;
  //   }
  //   &--blue {
  //     grid-area: 7 / 10;
  //   }
  //   &--green {
  //     grid-area: 8 / 10;
  //   }
  //   &--red {
  //     grid-area: 9 / 10;
  //   }
  //   &--load {
  //     grid-column: 6 / 8;
  //     grid-row: 10;
  //   }

  //   &--save {
  //     grid-column: 8 / 10;
  //     grid-row: 10;
  //   }
  // }
}

.footer {
  width: 100vw;
  display: inline-block;
  background: olivedrab;
  position: absolute;
  bottom: 0px;
  padding: 0.5em 0em;
  display: flex;
  justify-content: space-around;
  border-top: groove 2px darkslategrey;
}