@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

html {
  min-width: 1000px;
  @media (max-width: $breakpointMobile) {
min-width: 100%;
    
      }
}

body {
  background: $background;
  color: $light;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.header-text {
  font-size: 4em;
  margin-top: 0.1em;
  &:first-letter {
    font-size: 1.3em;
    color: $accent;
  }
  @media (max-width: $breakpointMobile) {
font-size: 2em;

  }
}

.editor {
  display: grid;
  grid-template-columns: 1fr [editor-start] 352px minmax(0px, 3fr) 352px [editor-end] 100px 1fr;
  grid-template-rows: 1fr 80px [editor-start] 360px [editor-end] 40px 1fr;
  column-gap: 32px;
  row-gap: 24px;
  min-height: 100vh;
  min-height: calc(100vh - 37px);

  @media (max-width: $breakpointMobile) {
    grid-template-columns: 1fr [editor-start] 6fr [editor-end] 2fr 1fr;
    grid-template-rows: 1fr 80px [editor-start] 360px [editor-end] 40px 1fr;
    column-gap: 4px;
    row-gap: 3px;

  }

  &__main-header {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
  }

  &__textarea {
    grid-area: editor;
    resize: none;
    padding: 8px;
    border-radius: 4px;
    &--bold {
      font-weight: bold;
    }
    &--italic {
      font-style: italic;
    }
    &--blue {
      color: blue;
    }
    &--green {
      color: green;
    }
    &--red {
      color: red;
    }
  }

  &__options {
    grid-column: editor-start / span 1;
    grid-row: editor-end / span 1;
    width: 250px;
    display: flex;
    justify-content: space-between;

    color: $light;

    @media (max-width: $breakpointMobile) {
      width:fit-content;
      
        }
  }

  &__side-buttons {
    grid-column: editor-end / span 1;
    grid-row: editor;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  &__bottom-buttons {
    grid-column: 4 / editor-end;
    grid-row: editor-end / span 1;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    @media (max-width: $breakpointMobile) {
      flex-direction: column;
      
        }
  }

  &__button {
    border: outset 4px;
        border-radius: 4px;
    height: 40px;
    width: 100%;
    font-weight: inherit;
    cursor: pointer;

    &:active {
      background: $dark;
      color: $light;
      border: inset 4px $dark;
    }
    &:active:before {
      box-sizing: border-box;
      border: 1px solid $light;
    }

    &--load {
      width: 160px;
    }
    &--save {
      width: 160px;
      background: midnightblue;
      color: $light;
      border-color: midnightblue;
      &:active {
        background: #0a0a30;
        color: $light;
        border: inset 4px #0a0a30;
      }

      @media (max-width: $breakpointMobile) {
        width:fit-content;
        
          }
    }

    &--bold {
      font-weight: bold;
    }

    &--italic {
      font-style: italic;
    }

    &--blue {
      text-align: left;
      &::before {
        content: "";
        height: 0.75em;
        width: 0.75em;
        background: blue;
        display: inline-block;
        border-radius: 50%;
        margin: 0px 6px;
      }
    }

    &--green {
      text-align: left;
      &::before {
        content: "";
        height: 0.75em;
        width: 0.75em;
        background: green;
        display: inline-block;
        border-radius: 50%;
        margin: 0px 6px;
      }
    }

    &--red {
      text-align: left;
      &::before {
        content: "";
        height: 0.75em;
        width: 0.75em;
        background: red;
        display: inline-block;
        border-radius: 50%;
        margin: 0px 6px;
      }
    }

    &--default {
      background: gray;
      border-color: gray;
      color: $light;
    }
  }

  .isOn {
    background: $dark;
    color: $light;
    border: inset 4px $dark;
    &::before {
      box-sizing: border-box;
      border: 1px solid $light;
    }
  }
}

.instructions {
  width: 38em;
  background: $secondary-background;
  opacity: 0.95;
  position: fixed;
  right: -36em;

  z-index: 5;

  transition: right ease-in-out 0.5s;

  &__content {
    height: 100vh;
    opacity: 1;
    margin-top: -2.5em;
    margin-left: 3em;
    padding-right: 1em;
    overflow: auto;
    text-align: justify;

    & h4 {
      margin: 0em;
    }
  }

  &__toggle {
    display: inline-block;
    box-sizing: border-box;
    background: $accent;
    width: 100vh;
    transform-origin: top left;
    transform: rotate(-90deg);
    position: relative;
    bottom: -100vh;
    font-size: 1em;
    text-align: right;
    padding: 0.5em;
    margin: 0px;
    cursor: pointer;

    &:before {
      content: "";
      position: relative;
      bottom: var(--arrow-position);
      width: 0;
      height: 0;
      border-left: 0.5em solid transparent;
      border-right: 0.5em solid transparent;
      border-bottom: var(--arrow-border-bottom);
      border-top: var(--arrow-border-top);
      margin-right: 0.5em;
    }
  }
}

.footer {
  width: 100%;
  font-size: 12px;
  display: inline-block;
  background: $secondary-background;
  position: absolute;
  bottom: 0px;
  padding: 0.5em 0em;
  display: flex;
  justify-content: flex-end;
  border-top: ridge 3px #3c5013;
  z-index: 10;

  &__element {
    padding: 0em 0.5em;
  }
}

p {
  line-height: 1.3em;
}
