@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: #002105;
  color: #fff6d6;
  min-height: 100vh;
  position: relative;
}

.editor {

  display: grid;
  // grid-template-columns: [left-margin] 1fr [title] 352px [load-button] 160px [save-button] 160px [style-buttons] 160px [right-margin] 1fr;
  // grid-template-rows: [top-margin] 1fr [title] 96px [editor] 360px [buttons] 40px [bottom-margin] 1fr;
  // grid-template-columns: 1fr repeat(9, 64px) 1fr;
  // grid-template-rows: 1fr repeat(9, 40px) 1fr;
  grid-template-columns: 1fr [editor-start] 352px minmax(0px, 3fr) 352px [editor-end] 80px 1fr;
  grid-template-rows: 1fr 96px [editor-start] 360px [editor-end] 40px 1fr;
  column-gap: 32px;
  row-gap: 24px;

  &__main-header {
    // grid-area: title / title;
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;

  }

  &__textarea {
    //   grid-area: editor / title / editor / save-button;
    // grid-area: 4 / 2 / 10 / 10;
    grid-area: editor;
    resize: none;
  }

&__side-buttons {
  grid-column: editor-end / span 1;
  grid-row: editor;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

&__bottom-buttons {
  grid-column: 4 / editor-end;
  grid-row: editor-end / span 1;
  display: flex;
  justify-content: space-between;
}

&__button {
  border: solid 2px black;
  height: 40px;
  width: 100%;

  &--load {
    width: 160px;
  }
  &--save {
    width: 160px;
  }

}

  // &__button {
  //   &--bold {
  //     grid-area: 4 / 10;
  //   }
  //   &--cursive {
  //     grid-area: 5 / 10;
  //   }
  //   &--black {
  //     grid-area: 6 / 10;
  //   }
  //   &--blue {
  //     grid-area: 7 / 10;
  //   }
  //   &--green {
  //     grid-area: 8 / 10;
  //   }
  //   &--red {
  //     grid-area: 9 / 10;
  //   }
  //   &--load {
  //     grid-column: 6 / 8;
  //     grid-row: 10;
  //   }

  //   &--save {
  //     grid-column: 8 / 10;
  //     grid-row: 10;
  //   }
  // }
}

.footer {
  width: 100vw;
  display: inline-block;
  background: olivedrab;
  position: absolute;
  bottom: 0px;
  padding: 0.5em 0em;
  display: flex;
  justify-content: space-around;
}